.login-body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.login-container {
    background: linear-gradient(145deg, #232526, #414345);
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    padding: 40px;
    width: 300px;
    text-align: center;
}

.login-container h2 {
    margin-bottom: 20px;
    color: white;
}

.login-container input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.login-container button {
    background-color: rgb(12, 12, 12);
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}

.login-container .link {
    display: block;
    margin-top: 20px;
    color: white;
    text-decoration: none;
}